.form {
  border: 1px solid;
  width: 300px;
  padding-left: 10px;
}

.input {
  display: flex;
}

.btn {
  margin: 10px 0px 10px 10px;
}

.contacts {
  padding-left: 10px;
}

.listItem {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
